<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Ensure.That" version="0.10.1" targetFramework="net452" />
  <package id="Fleck" version="0.13.0.57" targetFramework="net452" />
  <package id="Fleck.Extended" version="0.5.0" targetFramework="net452" />
  <package id="iLogger" version="0.1.0" targetFramework="net452" />
  <package id="Newtonsoft.Json" version="4.5.11" targetFramework="net452" />
  <package id="ServiceStack.Common" version="4.0.50" targetFramework="net452" />
  <package id="ServiceStack.Interfaces" version="4.0.50" targetFramework="net452" />
  <package id="ServiceStack.Redis" version="4.0.50" targetFramework="net452" />
  <package id="ServiceStack.Text" version="4.0.50" targetFramework="net452" />
</packages>